/*global*/
* {
    color: black;
}

* div {
    background-color: skyblue;
    text-align: center;
}

/*chap001*/

.box1, .box2 {
    float: left;
    width: 50%;
}

.box3, .box4 {
    color: red;
}

.boxA:after {
    content: "";
    display: block;
    clear: both;
}

/*chap002*/
.box2-1, .box2-2, .box2-3 {
    float: left;
    width: 33.3333%;
}

.boxB:after {
    content: "";
    display: block;
    clear: both;
}

/*chap003*/
.boxRow :after {
    content: "";
    display: block;
    clear: both;
}

.boxRowChild {
    float: left;
    width: 50%;
    background-color: blue;
}

/* chap004 */

.over-box-child {
    width: 25%;
}

#overHidden :after {
    overflow: hidden;
}

.float-child {
    float: left;
    color: red;
}